/*
* @Author: zkw13593061610
* @Date:   2018-05-05 11:13:07
* @Last Modified by:   98660
* @Last Modified time: 2018-07-26 00:04:09
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.zhengti{
	background-color: #FFFFFF;
}
.zhengti .header{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.header .b{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.zhengti .header .nav1{
	width: 500px;
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 12px;
}
.header .b .nav1 span{
	font-size: 12px;
	color: #424242;
}
.zhengti .header .nav1 a{
	color: #b0b0b0;
}
.zhengti .header .nav2{
	width: 200px;
	height: 40px;
	float: right;
	line-height: 40px;
	font-size: 12px;
}
.zhengti .header .nav2 a{
	color: #b0b0b0;
}
.header .b .nav2 span{
	font-size: 12px;
	color: #424242;
}
.zhengti .header .shop{
	width: 120px;
	height: 40px;
	float: right;
	line-height: 40px;
	text-align: center;
	position: relative;
}
.zhengti .header .shop a{
	color: #b0b0b0;
	display: block;
	width: 120px;
	height: 40px;
	font-size: 12px;
}
.zhengti .header .shop a:hover{
	color: #ff6700;
}
.zhengti .header .shop:hover{
	background-color: #ffffff;
}
.shop .shopBox{
	width: 316px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	right: 0;
	transition: all .6s;
	overflow: hidden;
	line-height: 79px;
}
.biggerbox{
	width: 100%;
	height: auto;
	position: relative;
}
.biggerbox .excess{
	width: 100%;
	height: 0px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 1111;
	transition: all .6s;
}
.biggerbox .excess .excess1{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	overflow: hidden;
}
.biggerbox .excess .excess1 .box{
	width: 180px;
	height: 100%;
}
.biggerbox .excess .excess1 .zhaopian{
	width: 180px;
	height: auto;
	border-right: 1px solid #ccc;
}
.biggerbox .excess .excess1 .zhaopian a img{
	margin: 20px auto;
}
.biggerbox .nav li{
	width: 64px;
	height: 100px;
	text-align: center;
}
.biggerbox .nav li a{
	display: block;
	width: 100%;
	line-height: 100px;
	color: #333;
}
.biggerbox .nav li a:hover{
	color: #ff6700;
}
.biggerbox .nav li .excess .excess1 .name{
	width: 180px;
	height: 20px;
}
.biggerbox .nav li .excess .excess1 .name a{
	color: #333;
	line-height: 20px;
}
.biggerbox .nav li .excess .excess1 p{
	color: #ff6700;
}
.biglogo{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.biglogo .logo{
	width: 55px;
	height: 55px;
	float: left;
	background-color: #FF6700;
	background-image: url("../img/mi-logo.png");
	background-repeat: no-repeat;
	background-size: 55px 55px;
	margin-top: 25px;
}
.biglogo .nav{
	width: auto;
	height: 100px;
	float: left;
	margin-left: 179px;
	display: flex;
}
.biglogo .search{
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 25px;
	display: flex;
}
.biglogo .search input{
	width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
}
.biglogo .search .search1{
	width: 52px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    border-left: 0;
    cursor: pointer;
}
.biglogo .search .search1:hover{
	background-color: #ff6700;
}
.biglogo .search .search1:hover span{
	color: #fff;
}
.biglogo .search .search1 span{
	font-size: 30px;
	margin-left: 10px;
	display: inline-block;
	margin-top: 10px;
	color: #333;
}
.yidong{
	width: 1226px;
	height: 644px;
	margin: 0 auto;
}
.yidong .shang{
	width: 1226px;
	height: 460px;
}
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.banner .wraper{
	width: 100%;
	height: 100%;
}
.banner .wraper a{
	display: block;
	position: absolute;
	top: 0;
	left: 1226px;
}
.banner .aside{
	width: 234px;
	height: 420px;
	background-color: #08294D;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 0;
	z-index: 999;
}
.banner .aside li .liBox{
	width: 992px;
	height: 460px;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 234px;
	display: none;
	z-index: 1;
}
.banner .aside li .liBox .son{
	width: 248px;
	height: 458px;
	padding: 2px 0;
	float: left;
}
.banner .aside li .liBox .son .son1{
	width: 265px;
	height: 76px;
}
.banner .aside li .liBox .son .son1 a{
	display: block;
	width: 225px;
	height: 41px;
	padding: 18px 20px;
	text-align: center;
}
.banner .aside li .liBox .son .son1 a img{
	float: left;
}
.banner .aside li .liBox .son .son1 a span{
	float: left;
	margin-left: 20px;
	color: #333;
}
.banner .aside .asidea{
	display: block;
	padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}
.banner .aside .asidea:hover{
	background-color: #ff6700;
}
.banner .aside .asidea span{
	top: 19px;
	right: 20px;
	display: block;
	float: right;
	margin-right: 20px;
	font-size: 16px;
}
.banner .prep,.banner .next{
	width: 41px;
	height: 69px;
	position: absolute;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 100;
}
.banner .prep{
	left: 234px;
	background-image: url('../img/ka.jpg');
	background-position: -83px;
}
.banner .prep:hover{
	background-position: 0px;
}
.banner .next{
	background-image: url('../img/ka.jpg');
	background-position: -125px;
}
.banner .next:hover{
	background-position: -41px;
}
.banner .next a{
	display: block;
	width: 41px;
	height: 69px;
}
.banner .prep a{
	display: block;
	width: 41px;
	height: 69px;
}
.banner .btns{
	width: 100px;
	height: 10px;
	position: absolute;
	bottom: 25px;
	right: 36px;
	z-index: 11;
}
.banner .btns .son{
	width: 6px;
	height: 6px;
	background-color: #92897C;
	border: 2px solid #B5AFA5;
	border-radius: 50%;
	float: left;
	margin: 0 5px;
}
.banner .btns .hot{
	background-color: #F8EFE2;
	border: 2px solid #94938F;
}
.yidong .xia{
	width: 1226px;
	height: 170px;
	margin-top: 14px;
	margin-bottom: 14px;
}
.yidong .xia .dao{
	width: 228px;
	height: 164px;
	background-color: red;
	float: left;
	padding: 3px;
}
.yidong .xia .p .tu{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 14px;
	transition: all 0.5s;
}
.yidong .xia .p .tu:hover{
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}
.shan{
	width: 1226px;
	height: 400px;
	margin: 0 auto;
}
.shan .title1{
	width: 100%;
	height: 58px;
}
.shan .btns{
	float: right;
	display: flex;
	height: 58px;
	justify-content: center;
	align-items: center;
}
.shan .btns .btn2{
	padding: 8px 10px;
	border: 1px solid #ccc;
}
.shan .btns .btn3{
	padding: 8px 10px;
	border: 1px solid #ccc;
}
.shan h2{
	width: 100px;
	height: 58px;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.shan .con{
	width: 100%;
	height: 340px;
}
.shan .con .left{
	width: 234px;
	height: 339px;
	border-top: 1px solid #E53935;
	background-color: #F1EDED;
	float: left;
}
.shan .con .left .time{
	width: 234px;
	height: 46px;
	text-align: center;
	margin-top: 40px;
}
.shan .con .left img{
	display: block;
	width: 34px;
	height: 53px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
.shan .con .left .sub{
	width: 234px;
	height: 22px;
	text-align: center;
	color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.shan .con .left .shi{
	width: 168px;
	height: 46px;
	margin: 0 auto;
	margin-top: 25px;
}
.shan .con .left .shi .box{
	width: 46px;
	height: 46px;
	float: left;
	text-align: center;
	line-height: 46px;
	background: #605751;
    color: #fff;
    font-size: 24px;
}
.shan .con .left .shi .dosh{
	width: 15px;
	height: 46px;
	float: left;
	line-height: 46px;
    color: #605751;
    font-size: 28px;
    text-align: center;
}
.shan .con .right .son{
	width: 1984px;
	height: 339px;
	float: left;
	transition: all .5s;
}
.shan .con .right{
	width: 992px;
	height: 340px;
	overflow: hidden;
}
.shan .con .right .box{
	width: 234px;
	height: 339px;
	margin-left: 14px;
	float: left;
}
.guanggao1{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.goods{
	background-color: #F5F5F5;
}
.phone{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
	padding-top: 20px;
}
.phone .title{
	width: 1226px;
	height: 58px;
}
.phone .title h2{
	width: 234px;
	height: 58px;
	line-height: 58px;
	float: left;
	font-size: 22px;
    font-weight: 200;
}
.phone .title .more{
	width: 234px;
	height: 58px;
	line-height: 58px;
	float: right;
	text-align: right;
}
.phone .title .more a{
	color: #424242;
}
.phone .title .more a:hover{
	color: #ff6700;
}
.phone .con{
	width: 1226px;
	height: 614px;
}
.phone .con .box{
	width: 234px;
	height: 300px;
	background-color: #FFFFFF;
	float: left;
	transition: all 0.5s;
}
.phone .con .box:hover{
	transform: translate(0,-10px);
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
}
.phone .con .box:first-child{
	height: 614px;
}
.phone .con .box:nth-child(2),.phone .con .box:nth-child(3),.phone .con .box:nth-child(4),.phone .con .box:nth-child(5),.phone .con .box:nth-child(6),.phone .con .box:nth-child(7),.phone .con .box:nth-child(8),.phone .con .box:nth-child(9){
	margin-left: 14px;
}
.phone .con .box:nth-child(2),.phone .con .box:nth-child(3),.phone .con .box:nth-child(4),.phone .con .box:nth-child(5){
	margin-bottom: 14px;
}
.phone .con .box h2 a{
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}
.phone .con .box .wenzi a{
	display: block;
	text-align: center;
	color: #333;
	font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.phone .con .box h3{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	margin-top: 10px;
	font-weight: 400;
}
.phone .con .box h4{
	color: #ff6700;
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
}
.phone .con .box h4 del{
	color: #b0b0b0;
}
.guanggao2{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.jiadian{
	width: 1226px;
	height: auto;
	margin: 0 auto;
}
.jiadian .title{
	width: 100%;
	height: 58px;
}
.jiadian .title h2{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.jiadian .title .nav{
	float: right;
	text-align: right;
	display: flex;
	align-items:flex-end;
	position: relative;
}
.jiadian .title .nav li{
	margin-left: 14px;
	height: 24px;
	display: inline-block;
	line-height: 32px;
	box-sizing: border-box;
	margin-top: 20px;
}
.jiadian .title .nav li .jiadianBox{
	width: 992px;
	height: 614px;
	position: absolute;
	right: 0;
	top: 58px;
	display: none;
}
.jiadian .title .nav li:hover span{
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 2px;
}
.jiadian .con{
	width: 100%;
	height: 614px;
}
.jiadian .con .left{
	width: 234px;
	height: 614px;
	float: left;
}
.jiadian .con .right{
	width: 992px;
	height: 614px;
	float: left;
}
.jiadian .con .left .son{
	width: 234px;
	height: 300px;
	float: left;
	background-color: #FEFEFE;
}
.jiadian .con .left .son:first-child{
	margin-bottom: 14px;
}
.jiadian .con .right .son{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.jiadian .con .right .son:nth-child(8){
	margin-bottom: 14px;
}
.jiadian .con .right .son:nth-child(8),.jiadian .con .right .son:nth-child(9){
	width: 234px;
	height: 143px;
}
.jiadian .con .son{
	transition: all 0.5s;
	text-align: center;
	background-color: #FEFEFE;
}
.jiadian .con .son:hover{
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
	transform: translate(0,-10px);
}
.jiadian .con .son .bigger{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.jiadian .con .son .wenzi{
	display: block;
	font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    color: #333;
}
.jiadian .con .son h4{
	margin: 10px 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}
.jiadian .con .son h5{
	margin: 0 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.jiadian .con .son h5 del{
	color: #b0b0b0;
}
.jiadian .con .son .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.jiadian .con .son .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
}
.jiadian .con .son:nth-child(8) h5{
	width: 94px;
	height: 21px;
	margin: 14px 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.jiadian .con .son h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
}
.jiadian .con .son h6 a p{
	font-size: 12px;
	color: #757575;
	text-align: left;
}
.jiadian .con .son:nth-child(9){
	text-align: left;
}
.jiadian .con .son:nth-child(3) .wenzi,.jiadian .con .son:nth-child(4) .wenzi{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.jiadian .title .nav .jiadianBox .right .son{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.jiadian .title .nav .jiadianBox .right .son:nth-child(8){
	margin-bottom: 14px;
}
.jiadian .title .nav .jiadianBox .right .son:nth-child(8),.jiadian .title .nav .jiadianBox .right .son:nth-child(9){
	width: 234px;
	height: 143px;
}
.jiadian .title .nav .jiadianBox .son{
	transition: all 0.5s;
	text-align: center;
	background-color: #FEFEFE;
}
.jiadian .title .nav .jiadianBox .son:hover{
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
	transform: translate(0,-10px);
}
.jiadian .title .nav .jiadianBox .son .bigger{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.jiadian .title .nav .jiadianBox .son .wenzi{
	display: block;
	font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    color: #333;
    line-height: 19px;
}
.jiadian .title .nav .jiadianBox .son h4{
	margin: 10px 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    line-height: 16px;
}
.jiadian .title .nav .jiadianBox .son h5{
	margin: 0 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    line-height: 20px;
}
.jiadian .title .nav .jiadianBox .son h5 del{
	color: #b0b0b0;
}
.jiadian .title .nav .jiadianBox .son .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.jiadian .title .nav .jiadianBox .son .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
	line-height: 19px;
}
.jiadian .title .nav .jiadianBox .son:nth-child(8) h5{
	width: 94px;
	height: 21px;
	margin: 14px 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.jiadian .title .nav .jiadianBox .son h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
	line-height: 24px;
}
.jiadian .title .nav .jiadianBox .son h6 a p{
	font-size: 12px;
	color: #757575;
	text-align: left;
	line-height: 16px;
}
.jiadian .title .nav .jiadianBox .son:nth-child(9){
	text-align: left;
}
.jiadian .title .nav .jiadianBox .son:nth-child(3) .wenzi,.jiadian .title .nav .jiadianBox .son:nth-child(4) .wenzi{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.guanggao3{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* .zhineng{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
}
.zhineng .title{
	width: 100%;
	height: 58px;
	background-color: #F5F5F5;
}
.zhineng .title h2{
	width: 234px;
	height: 58px;
	float: left;
	font-size: 22px;
    font-weight: 200;
	line-height: 58px;
}
.zhineng .title .nav{
	width: 400px;
	height: 58px;
	float: right;
	line-height: 58px;
	font-size: 16px;
    color: #424242;
    text-align: right;
}
.zhineng .title .nav li{
	margin-left: 14px;
	height: 24px;
	display: inline-block;
	line-height: 32px;
	box-sizing: border-box;
	margin-top: 20px;
}
.zhineng .title .nav li .jiadianBox{
	width: 992px;
	height: 614px;
	position: absolute;
	right: 0;
	top: 58px;
	display: none;
}
.zhineng .title .nav li:hover span{
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 2px;
}
.zhineng .neirong .mokuai{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #FFFFFF;
	text-align: center;
}
.zhineng .neirong .mokuai:hover{
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
	transform: translate(0, -10px);
	transition: all 0.5s;
}
.zhineng .neirong .mokuai1{
	margin-left: 0;
}
.zhineng .neirong .mokuai2{
	margin-bottom: 0;
}
.zhineng .neirong .mokuai3{
	width: 234px;
	height: 143px;
	margin-right: 0;
}
.zhineng .neirong .mokuai3 h5{
	width: 94px;
	height: 21px;
	margin: 14px 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.zhineng .neirong .mokuai4{
	margin-top: 0;
}
.zhineng .neirong .mokuai .bigg{
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto;
	margin-top: 14px;
}
.zhineng .neirong .mokuai .wenzi{
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin-top: 15px;
}
.zhineng .neirong .mokuai h4{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin: 10px 10px 10px; 
}
.zhineng .neirong .mokuai h5{
	color: #ff6700;
	height: 21px;
	margin: 0 10px 14px;
}
.zhineng .neirong .mokuai3 .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.zhineng .neirong .mokuai3 .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
}
.zhineng .neirong .mokuai3 h5{
	width: 94px;
	height: 21px;
	margin: 0;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.zhineng .neirong .mokuai3{
	text-align: left;
}
.zhineng .neirong .mokuai3 h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
}
.zhineng .neirong .mokuai3 h6 a p{
	font-size: 12px;
	color: #757575;
} */
.guanggao4{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dapei{
	width: 1226px;
	height: auto;
	margin: 0 auto;
}
.dapei .title{
	width: 100%;
	height: 58px;
}
.dapei .title h2{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.dapei .title .nav{
	float: right;
	line-height: 58px;
	text-align: right;
	position: relative;
	height: 58px;
}
.dapei .title .nav li{
	margin-left: 14px;
	height: 24px;
	display: inline-block;
	line-height: 30px;
	box-sizing: border-box;
	margin-top: 20px;
}
.dapei .title .nav li .jiadianBox{
	width: 992px;
	height: 614px;
	position: absolute;
	right: 0;
	top: 58px;
	display: none;
}
.dapei .title .nav li:hover span{
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 2px;
}
.dapei .con{
	width: 100%;
	height: 614px;
}
.dapei .con .left{
	width: 234px;
	height: 614px;
	float: left;
}
.dapei .con .right{
	width: 992px;
	height: 614px;
	float: left;
}
.dapei .con .right .son h3 a:first-child{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dapei .con .left .son{
	width: 234px;
	height: 300px;
	float: left;
	background-color: #FEFEFE;
}
.dapei .con .left .son:first-child{
	margin-bottom: 14px;
}
.dapei .con .right .son{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.dapei .con .right .son:nth-child(8){
	margin-bottom: 14px;
}
.dapei .con .right .son:nth-child(8) a{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dapei .con .right .son:nth-child(8),.dapei .con .right .son:nth-child(9){
	width: 234px;
	height: 143px;
}
.dapei .con .son{
	transition: all 0.5s;
	text-align: center;
	background-color: #FEFEFE;
}
.dapei .con .son:hover{
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
	transform: translate(0,-10px);
}
.dapei .con .son .bigger{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.dapei .con .son .wenzi{
	display: block;
	font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    color: #333;
}
.dapei .con .son h4{
	margin: 10px 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
}
.dapei .con .son h5{
	margin: 0 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    font-weight: 400;
    margin-top: 10px;
}
.dapei .con .son h5 del{
	color: #b0b0b0;
}
.dapei .con .son .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.dapei .con .son .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
}
.dapei .con .son:nth-child(8) h5{
	width: 94px;
	height: 21px;
	margin: 0 6px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.dapei .con .son h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
}
.dapei .con .son h6 a p{
	font-size: 12px;
	color: #757575;
	text-align: left;
}
.dapei .con .son:nth-child(9){
	text-align: left;
}
.dapei .con .son:nth-child(3) .wenzi,.dapei .con .son:nth-child(4) .wenzi{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dapei .title .nav .jiadianBox .right .son h3 a:first-child{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dapei .title .nav .jiadianBox .left .son{
	width: 234px;
	height: 300px;
	float: left;
	background-color: #FEFEFE;
}
.dapei .title .nav .jiadianBox .left .son:first-child{
	margin-bottom: 14px;
}
.dapei .title .nav .jiadianBox .right .son{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.dapei .title .nav .jiadianBox .right .son:nth-child(8){
	margin-bottom: 14px;
}
.dapei .title .nav .jiadianBox .right .son:nth-child(8) a{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dapei .title .nav .jiadianBox .right .son:nth-child(8),.dapei .title .nav .jiadianBox .right .son:nth-child(9){
	width: 234px;
	height: 143px;
}
.dapei .title .nav .jiadianBox .son{
	transition: all 0.5s;
	text-align: center;
	background-color: #FEFEFE;
}
.dapei .title .nav .jiadianBox.son:hover{
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
	transform: translate(0,-10px);
}
.dapei .title .nav .jiadianBox .son .bigger{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.dapei .title .nav .jiadianBox .son .wenzi{
	display: block;
	font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    color: #333;
    line-height: 19px;
}
.dapei .title .nav .jiadianBox .son h4{
	margin: 10px 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    line-height: 16px;
}
.dapei .title .nav .jiadianBox .son h5{
	margin: 0 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    font-weight: 400;
    margin-top: 10px;
    line-height: 20px;
}
.dapei .title .nav .jiadianBox .son h5 del{
	color: #b0b0b0;
}
.dapei .title .nav .jiadianBox .son .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.dapei .title .nav .jiadianBox .son .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
	line-height: 19px;
}
.dapei .title .nav .jiadianBox .son:nth-child(8) h5{
	width: 94px;
	height: 21px;
	margin: 0 6px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    line-height: 20px;
}
.dapei .title .nav .jiadianBox .son h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
	line-height: 24px;
}
.dapei .title .nav .jiadianBox .son h6 a p{
	font-size: 12px;
	color: #757575;
	text-align: left;
	line-height: 16px;
}
.dapei .title .nav .jiadianBox .son:nth-child(9){
	text-align: left;
}
.dapei .title .nav .jiadianBox .son:nth-child(3) .wenzi,.dapei .title .nav .jiadianBox .son:nth-child(4) .wenzi{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.guanggao5{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.peijian{
	width: 1226px;
	height: auto;
	margin: 0 auto;
}
.peijian .title{
	width: 100%;
	height: 58px;
}
.peijian .title h2{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.peijian .title .nav{
	float: right;
	line-height: 58px;
	text-align: right;
	position: relative;
	height: 58px;
}
.peijian .title .nav li{
	margin-left: 14px;
	height: 24px;
	display: inline-block;
	line-height: 30px;
	box-sizing: border-box;
	margin-top: 20px;
}
.peijian .title .nav li .jiadianBox{
	width: 992px;
	height: 614px;
	position: absolute;
	right: 0;
	top: 58px;
	display: none;
}
.peijian .title .nav li:hover span{
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 2px;
}
.peijian .con{
	width: 100%;
	height: 614px;
}
.peijian .con .left{
	width: 234px;
	height: 614px;
	float: left;
}
.peijian .con .right{
	width: 992px;
	height: 614px;
	float: left;
}
.peijian .con .right .son h3 a:first-child{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.peijian .con .left .son{
	width: 234px;
	height: 300px;
	float: left;
	background-color: #FEFEFE;
}
.peijian .con .left .son:first-child{
	margin-bottom: 14px;
}
.peijian .con .right .son{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.peijian .con .right .son:nth-child(8){
	margin-bottom: 14px;
}
.peijian .con .right .son:nth-child(8) a{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.peijian .con .right .son:nth-child(8),.peijian .con .right .son:nth-child(9){
	width: 234px;
	height: 143px;
}
.peijian .con .son{
	transition: all 0.5s;
	text-align: center;
	background-color: #FEFEFE;
}
.peijian .con .son:hover{
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
	transform: translate(0,-10px);
}
.peijian .con .son .bigger{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.peijian .con .son .wenzi{
	display: block;
	font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    color: #333;
}
.peijian .con .son h4{
	margin: 10px 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
}
.peijian .con .son h5{
	margin: 0 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    font-weight: 400;
    margin-top: 10px;
}
.peijian .con .son h5 del{
	color: #b0b0b0;
}
.peijian .con .son .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.peijian .con .son .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
}
.peijian .con .son:nth-child(8) h5{
	width: 94px;
	height: 21px;
	margin: 0 6px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.peijian .con .son h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
}
.peijian .con .son h6 a p{
	font-size: 12px;
	color: #757575;
	text-align: left;
}
.peijian .con .son:nth-child(9){
	text-align: left;
}
.peijian .con .son:nth-child(3) .wenzi,.peijian .con .son:nth-child(4) .wenzi{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.peijian .title .nav .jiadianBox .right .son h3 a:first-child{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.peijian .title .nav .jiadianBox .left .son{
	width: 234px;
	height: 300px;
	float: left;
	background-color: #FEFEFE;
}
.peijian .title .nav .jiadianBox .left .son:first-child{
	margin-bottom: 14px;
}
.peijian .title .nav .jiadianBox .right .son{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.peijian .title .nav .jiadianBox .right .son:nth-child(8){
	margin-bottom: 14px;
}
.peijian .title .nav .jiadianBox .right .son:nth-child(8) a{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.peijian .title .nav .jiadianBox .right .son:nth-child(8),.peijian .title .nav .jiadianBox .right .son:nth-child(9){
	width: 234px;
	height: 143px;
}
.peijian .title .nav .jiadianBox .son{
	transition: all 0.5s;
	text-align: center;
	background-color: #FEFEFE;
}
.peijian .title .nav .jiadianBox.son:hover{
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
	transform: translate(0,-10px);
}
.peijian .title .nav .jiadianBox .son .bigger{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.peijian .title .nav .jiadianBox .son .wenzi{
	display: block;
	font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    color: #333;
    line-height: 19px;
}
.peijian .title .nav .jiadianBox .son h4{
	margin: 10px 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    line-height: 16px;
}
.peijian .title .nav .jiadianBox .son h5{
	margin: 0 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    font-weight: 400;
    margin-top: 10px;
    line-height: 20px;
}
.peijian .title .nav .jiadianBox .son h5 del{
	color: #b0b0b0;
}
.peijian .title .nav .jiadianBox .son .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.peijian .title .nav .jiadianBox .son .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
	line-height: 19px;
}
.peijian .title .nav .jiadianBox .son:nth-child(8) h5{
	width: 94px;
	height: 21px;
	margin: 0 6px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    line-height: 20px;
}
.peijian .title .nav .jiadianBox .son h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
	line-height: 24px;
}
.peijian .title .nav .jiadianBox .son h6 a p{
	font-size: 12px;
	color: #757575;
	text-align: left;
	line-height: 16px;
}
.peijian .title .nav .jiadianBox .son:nth-child(9){
	text-align: left;
}
.peijian .title .nav .jiadianBox .son:nth-child(3) .wenzi,.peijian .title .nav .jiadianBox .son:nth-child(4) .wenzi{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.guanggao6{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* .zhoubian{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
}
.zhoubian .title{
	width: 100%;
	height: 58px;
	background-color: #F5F5F5;
}
.zhoubian .title h2{
	width: 234px;
	height: 58px;
	float: left;
	font-size: 22px;
    font-weight: 200;
	line-height: 58px;
}
.zhoubian .title .nav{
	float: right;
	line-height: 58px;
	text-align: right;
	position: relative;
	height: 58px;
}
.zhoubian .title .nav li{
	margin-left: 14px;
	height: 24px;
	display: inline-block;
	line-height: 30px;
	box-sizing: border-box;
	margin-top: 20px;
}
.zhoubian .title .nav li .jiadianBox{
	width: 992px;
	height: 614px;
	position: absolute;
	right: 0;
	top: 58px;
	display: none;
}
.zhoubian .title .nav li:hover span{
	cursor: pointer;
	border-bottom: 2px solid #ff6700;
	padding-bottom: 2px;
}
.zhoubian .neirong .mokuai{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #FFFFFF;
	text-align: center;
}
.zhoubian .neirong .mokuai:hover{
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
	transform: translate(0, -10px);
	transition: all 0.5s;
}
.zhoubian .neirong .mokuai1{
	margin-left: 0;
}
.zhoubian .neirong .mokuai2{
	margin-bottom: 0;
}
.zhoubian .neirong .mokuai3{
	width: 234px;
	height: 143px;
	margin-right: 0;
}
.zhoubian .neirong .mokuai3 h5{
	width: 94px;
	height: 21px;
	margin: 14px 14px 14px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.zhoubian .neirong .mokuai4{
	margin-top: 0;
}
.zhoubian .neirong .mokuai .bigg{
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto;
	margin-top: 14px;
}
.zhoubian .neirong .mokuai .wenzi{
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin-top: 15px;
}
.zhoubian .neirong .mokuai h4{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin: 10px 10px 10px; 
    font-weight: 400;
}
.zhoubian .neirong .mokuai h5{
	color: #ff6700;
	height: 21px;
	margin: 0 10px 14px;
	font-weight: 400;
}
.zhoubian .neirong .mokuai3 .tupian{
	float: right;
	margin: 30px 5px 50px;
}
.zhoubian .neirong .mokuai3 .exposure{
	display: block;
	width: 94px;
	height: 21px;
	font-weight: 400;
	font-size: 14px;
	margin: 40px 27px 10px;
	color: #333;
}
.zhoubian .neirong .mokuai3 h5{
	width: 94px;
	height: 21px;
	margin: 0;
    height: 21px;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
}
.zhoubian .neirong .mokuai3{
	text-align: left;
}
.zhoubian .neirong .mokuai3 h6 a{
	display: block;
	font-size: 18px;
	color: #333; 
	width: 94px;
	height: 45px;
	font-weight: normal;
}
.zhoubian .neirong .mokuai3 h6 a p{
	font-size: 12px;
	color: #757575;
} */
.guanggao7{
	width: 1226px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.weinituijian{
	width: 
}
.weinituijian{
	width: 1226px;
	height: 358px;
	margin: 0 auto;
}
.weinituijian .title{
	width: 100%;
	height: 58px;
}
.weinituijian .title h2{
	width: 234px;
	height: 58px;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.weinituijian .title .jian{
	width: 100px;
	height: 58px;
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.weinituijian .title .jian button{
	font-size: 25px;
	padding: 4px 16px;
}
.weinituijian .title .jian button:last-child{
	margin-left: -1px;
}
.weinituijian .con{
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.weinituijian .con .con11{
	width: 3720px;
	height: 314px;
	transition: all .5s;
}
.weinituijian .con .box{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	text-align: center;
	background-color: #fff;
	transition: all 0.5s;
}
.weinituijian .con .box:nth-child(10){
	margin-right: 0;
}
.weinituijian .con .box:hover{
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
	transform: translate(0, -10px)
}
.weinituijian .con .box:nth-child(5){
	margin-right: 0;
}
.weinituijian .con .box a{
	display: block;
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 14px;
}
.weinituijian .con .box:nth-child(2) .wenzi a,.weinituijian .con .box:nth-child(4) .wenzi a,.weinituijian .con .box:nth-child(5) .wenzi a{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.weinituijian .con .box .wenzi a{
	display: block;
	width: auto;
	height: auto;
	color: #333;
}
.weinituijian .con .box h2{
	color: #ff6700;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}
.weinituijian .con .box h3{
	font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    margin-top: 10px;
}
.re{
	width: 1226px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}
.re .title{
	width: 1226px;
	height: 58px;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.re .con{
	width: auto;
	height: 415px;
}
.re .con .box{
	margin-right: 14px;
	width: 296px;
	height: 415px;
	float: left;
	background-color: #fff;
	transition: all 0.5s;
}
.re .con .box:hover{
	transform: translate(0, -10px);
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.re .con .box:nth-child(4){
	margin-right: 0;
}
.re .con .box a{
	width: 296px;
	height: 220px;
}
.re .con .box .wenzi a{
	width: 240px;
	height: 72px;
	display: block;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
    margin: 0 auto;
    margin-top: 20px;
}
.re .con .box h2{
	font-size: 12px;
    color: #b0b0b0;
    text-align: left;
    margin-left: 28px;
    margin-top: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.re .con .box .jie{
	width: 236px;
	height: 22px;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 10px;
}
.re .con .box .jie a{
	font-size: 14px;
    font-weight: 400;
    color: #333;
}
.re .con .box .jie span{
	color: #e0e0e0;
}
.re .con .box .jie b{
	color: #ff6700;
	font-weight: 400;
}
.home{
	width: 1226px;
	height: 478px;
	margin-bottom: 22px;
	margin: 20px auto;
}
.home .h-title{
	width: 100%;
	height: 58px;
}
.home .h-title h3{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.home .h-content{
	width: 100%;
	height: 420px;
	position: relative;
}
.home .h-content .h-wai .hwai1{
	border-top-color: #ffac13;
    color: #ffac13;
	position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    margin-left: 14px;
}
.home .h-content .h-wai .hwai1 .leftt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	left: 0;
}
.home .h-content .h-wai .hwai1 .rightt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	right: 0;
}
.home .h-content .h-wai .hwai1:first-child{
	margin-left:0;
}
.home .h-content .h-wai .hwai1 h2{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}
.home .h-content .h-wai .hwai1 .hwraper{
	width: 296px;
	height: 340px;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.home .h-content .h-wai .hwai1 .hwraper li{
	position: absolute;
	left: 296px;
	top: 0;
	background-color: #fff;
	width: 296px;
}
.home .h-content .h-wai .hwai1 .hwraper .h-nei .h-name{
	width: 256px;
	height: 25px;
	margin: 0 20px 5px;
	text-align: center;
}
.home .h-content .h-wai .hwai1 .hwraper .h-nei .h-name a{
	color: #333;
	font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.home .h-content .h-wai .hwai1 .hwraper .desc{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.home .h-content .h-wai .hwai1 .hwraper .desc a{
	color: #b0b0b0;
}
.home .h-content .h-wai .hwai1 .hwraper .price{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.home .h-content .h-wai .hwai1 .hwraper .price a{
	color: #333;
}
.home .h-content .h-wai .hwai1 .hwraper .h-tu img{
	width: 216px;
	height: 154px;
	margin: 0 auto;

}
.home .h-content .h-wai .hwai1 .h-btns{
	width: 90px;
	height: 30px;
	position: absolute;
	left: 120px;
	bottom: 0;
	display: flex;
}
.home .h-content .h-wai .hwai1 .h-btns .h-btns1 .hott{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff6700;
}
.home .h-content .h-wai .hwai1 .h-btns .h-btns1{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-self: center;
}
.home .h-content .h-wai .hwai1 .h-btns .h-btns1 span{
	display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    background-color: #b0b0b0;
}
.home .h-content .h-wai .hwai2{
	border-top-color: #ffac13;
    color: #ffac13;
	position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    margin-left: 14px;
}
.home .h-content .h-wai .hwai2 .leftt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	left: 0;
}
.home .h-content .h-wai .hwai2 .rightt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	right: 0;
}
.home .h-content .h-wai .hwai2:first-child{
	margin-left:0;
}
.home .h-content .h-wai .hwai2 h2{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}
.home .h-content .h-wai .hwai2 .hwraper{
	width: 296px;
	height: 340px;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.home .h-content .h-wai .hwai2 .hwraper li{
	position: absolute;
	left: 296px;
	top: 0;
	background-color: #fff;
	width: 296px;
}
.home .h-content .h-wai .hwai2 .hwraper .h-nei .h-name{
	width: 256px;
	height: 25px;
	margin: 0 20px 5px;
	text-align: center;
}
.home .h-content .h-wai .hwai2 .hwraper .h-nei .h-name a{
	color: #333;
	font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.home .h-content .h-wai .hwai2 .hwraper .desc{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.home .h-content .h-wai .hwai2 .hwraper .desc a{
	color: #b0b0b0;
}
.home .h-content .h-wai .hwai2 .hwraper .price{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.home .h-content .h-wai .hwai2 .hwraper .price a{
	color: #333;
}
.home .h-content .h-wai .hwai2 .hwraper .h-tu img{
	width: 216px;
	height: 154px;
	margin: 0 auto;

}
.home .h-content .h-wai .hwai2 .h-btns{
	width: 90px;
	height: 30px;
	position: absolute;
	left: 120px;
	bottom: 0;
	display: flex;
}
.home .h-content .h-wai .hwai2 .h-btns .h-btns1 .hott{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff6700;
}
.home .h-content .h-wai .hwai2 .h-btns .h-btns1{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-self: center;
}
.home .h-content .h-wai .hwai2 .h-btns .h-btns1 span{
	display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    background-color: #b0b0b0;
}
.home .h-content .h-wai .hwai3{
	border-top-color: #ffac13;
    color: #ffac13;
	position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    margin-left: 14px;
}
.home .h-content .h-wai .hwai3 .leftt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	left: 0;
}
.home .h-content .h-wai .hwai3 .rightt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	right: 0;
}
.home .h-content .h-wai .hwai3:first-child{
	margin-left:0;
}
.home .h-content .h-wai .hwai3 h2{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}
.home .h-content .h-wai .hwai3 .hwraper{
	width: 296px;
	height: 340px;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.home .h-content .h-wai .hwai3 .hwraper li{
	position: absolute;
	left: 296px;
	top: 0;
	background-color: #fff;
	width: 296px;
}
.home .h-content .h-wai .hwai3 .hwraper .h-nei .h-name{
	width: 256px;
	height: 25px;
	margin: 0 20px 5px;
	text-align: center;
}
.home .h-content .h-wai .hwai3 .hwraper .h-nei .h-name a{
	color: #333;
	font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.home .h-content .h-wai .hwai3 .hwraper .desc{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.home .h-content .h-wai .hwai3 .hwraper .desc a{
	color: #b0b0b0;
}
.home .h-content .h-wai .hwai3 .hwraper .price{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.home .h-content .h-wai .hwai3 .hwraper .price a{
	color: #333;
}
.home .h-content .h-wai .hwai3 .hwraper .h-tu img{
	width: 216px;
	height: 154px;
	margin: 0 auto;

}
.home .h-content .h-wai .hwai3 .h-btns{
	width: 90px;
	height: 30px;
	position: absolute;
	left: 120px;
	bottom: 0;
	display: flex;
}
.home .h-content .h-wai .hwai3 .h-btns .h-btns1 .hott{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff6700;
}
.home .h-content .h-wai .hwai3 .h-btns .h-btns1{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-self: center;
}
.home .h-content .h-wai .hwai3 .h-btns .h-btns1 span{
	display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    background-color: #b0b0b0;
}
.home .h-content .h-wai .hwai4{
	border-top-color: #ffac13;
    color: #ffac13;
	position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    margin-left: 14px;
}
.home .h-content .h-wai .hwai4 .leftt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	left: 0;
}
.home .h-content .h-wai .hwai4 .rightt{
	width: 20px;
	height: 48px;
	background-color: #333;
	position: absolute;
	top: 200px;
	right: 0;
}
.home .h-content .h-wai .hwai4:first-child{
	margin-left:0;
}
.home .h-content .h-wai .hwai4 h2{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}
.home .h-content .h-wai .hwai4 .hwraper{
	width: 296px;
	height: 340px;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}
.home .h-content .h-wai .hwai4 .hwraper li{
	position: absolute;
	left: 296px;
	top: 0;
	background-color: #fff;
	width: 296px;
}
.home .h-content .h-wai .hwai4 .hwraper .h-nei .h-name{
	width: 256px;
	height: 25px;
	margin: 0 20px 5px;
	text-align: center;
}
.home .h-content .h-wai .hwai4 .hwraper .h-nei .h-name a{
	color: #333;
	font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.home .h-content .h-wai .hwai4 .hwraper .desc{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.home .h-content .h-wai .hwai4 .hwraper .desc a{
	color: #b0b0b0;
}
.home .h-content .h-wai .hwai4 .hwraper .price{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.home .h-content .h-wai .hwai4 .hwraper .price a{
	color: #333;
}
.home .h-content .h-wai .hwai4 .hwraper .h-tu img{
	width: 216px;
	height: 154px;
	margin: 0 auto;

}
.home .h-content .h-wai .hwai4 .h-btns{
	width: 90px;
	height: 30px;
	position: absolute;
	left: 120px;
	bottom: 0;
	display: flex;
}
.home .h-content .h-wai .hwai4 .h-btns .h-btns1 .hott{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff6700;
}
.home .h-content .h-wai .hwai4 .h-btns .h-btns1{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-self: center;
}
.home .h-content .h-wai .hwai4 .h-btns .h-btns1 span{
	display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    background-color: #b0b0b0;
}
.tv{
	width: 1226px;
	height: auto;
	margin: 0 auto;
}
.tv .title{
	width: 100%;
	height: 58px;
}
.tv .title h3{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.tv .title .more{
	width: 100px;
	height: 58px;
	font-size: 16px;
    line-height: 58px;
    color: #424242;
    float: right;
}
.tv .title .more:hover{
	color: #ff6700;
	cursor: pointer;
}
.tv .con{
	width: auto;
	height: 296px;
}
.tv .con .box{
	width: 296px;
	height: 285px;
	float: left;
	margin-right: 14px;
	transition: all 0.5s;
	background-color: #fff;
	text-align: center;
}
.tv .con .box:hover{
	transform: translate(0, -10px);
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.tv .con .box:nth-child(4){
	margin-right: 0;
}
.tv .con .box .wenzi a{
	display: block;
	color: #333;
	font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.tv .con .box .wenzi a:hover{
	color: #ff6700;
}
.tv .con .box h2{
	font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    margin-top: 10px;
}
/* 最后 */
.last{
	width: 100%;
	height: 272px;
	background-color: #fff;
	margin-bottom: 20px;
}
.last .later{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.last .later .top{
	width: 1226px;
	height: 80px;
	border-bottom: 1px solid #E0E0E0;
}
.last .later .top .son{
	width: 20%;
	height: 25px;
	float: left;
	border-left: 1px solid #E0E0E0;
	box-sizing: border-box;
	text-align: center;
	line-height: 25px;
	margin-top: 22px;
	font-size: 16px;
	color: #616161;
}
.last .later .top .son:first-child{
	border: 0;
}
.last .later .top .son:hover{
	color: #ff6700;
	cursor: pointer;
}
.last .later .bottom{
	width: 1226px;
	height: auto;
	padding: 40px 0;
	overflow: hidden;
}
.last .later .bottom .left{
	width: 974px;
	height: auto;
	float: left;
}
.last .later .bottom .left dl{
	width: 160px;
	height: 112px;
	float: left;
}
.last .later .bottom .left dl dt{
	width: 160px;
	height: 17px;
	margin-bottom: 26px;
	font-size: 14px;
	color: #424242;
}
.last .later .bottom .left dl dd{
	width: 160px;
	height: 18px;
	font-size: 12px;
	color: #757575;
	margin-bottom: 10px;
}
.last .later .bottom .left dl dd:hover{
	cursor: pointer;
	color: #ff6700;
}
.later .bottom .right{
	width: 252px;
	height: auto;
	float: right;
	text-align: center;
	border-left: 1px solid #E0E0E0;
	box-sizing: border-box;
}
.later .bottom .right p:first-child{
	font-size: 22px;
	color: #ff6700;
	margin-bottom: 5px;
}
.later .bottom .right p:nth-child(2){
	font-size: 12px;
	color: #616161;
	margin-bottom: 16px;
}
.later .bottom .right a{
	display: inline-block;
	color: #ff6700;
	width: 118px;
    height: 28px;
	border: 1px solid #ff6700;
	padding: 1px;
    font-size: 10px;
    line-height: 28px;
    transition: all .4s;
}
.later .bottom .right a span{
	font-size: 8px;
	margin-right: 2px;
}
.later .bottom .right a:hover{
	cursor: pointer;
	color: #fff;
	background-color: #ff6700;
}
.l{
	width: 100%;
	height: 106px;
	padding: 30px 0;
	background-color: #FAFAFA;
}
.m{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
}
.m .x{
	width: auto;
	height: auto;
}
.m .logo{
	width: 55px;
	height: 55px;
	background-color: #FF6700;
	background-image: url("../img/mi-logo.png");
	background-repeat: no-repeat;
	background-size: 55px 55px;
	margin-right: 14px;
	float: left;

}
.m .x .nav{
	width: auto;
	height: auto;
	float: left;
}
.m .x .nav span{
	color: #B0C0D6;
}
.m .x .nav a{
	font-size: 12px;
	color: #757575;
}
.m .x .p{
	width: auto;
	height: auto;
	float: left;
}
.m .x .p a{
	font-size: 12px;
	color: #b0b0b0;
}
.m .x .nav a:hover{
	color: #ff6700;
}
.m .x .p a:hover{
	color: #ff6700;
}
.m .x .p span{
	font-size: 12px;
	color: #b0b0b0;
}
.m .x .p p{
	font-size: 12px;
	color: #b0b0b0;
}
.m .x .s{
	width: auto;
	height: auto;
	float: right;
}
.m .x .s a{
	float: right;
}


